pandas==2.3.3
numpy==2.3.5
scipy==1.16.3
scikit-learn==1.7.2
matplotlib==3.10.6
seaborn==0.13.2
joblib==1.5.2
nbformat==5.10.4
nbconvert==7.16.6
nbclient==0.10.2
ipykernel==6.30.1
shap==0.52.0
openpyxl==3.1.5
python-docx==1.2.0
